/*    
BEGIN STYLING FOR THE LOGIN OR REGISTER FORM FOR USERS ON THE FRONT-END
*/
#wpplugin-dashboard-login-row-wrapper .login-username label, #wpplugin-dashboard-login-row-wrapper .login-password label {
	width: 94px;
	display: inline-block;
}

#wpplugin-not-registered-top-container{
	margin-top:20px;
}

#wpplugin-dashboard-login-row-wrapper .login-username, #wpplugin-dashboard-login-row-wrapper .login-password, #wpplugin-dashboard-login-row-wrapper .login-remember{
	margin-bottom:10px;
}

.wpplugin-form-section-fields-wrapper{
    display: flex;
    margin: 10px;
}

.wpplugin-form-section-fields-label{
    display: block;
}

.wpplugin-form-section-fields-indiv-wrapper{
    flex: 1;
    margin: 15px;
    text-align: left;
    width: 200px;
}

.wpplugin-form-section-fields-indiv-wrapper input, .wpplugin-form-section-fields-indiv-wrapper select {
    width:13vw;
}

.wpplugin_page_WPPluginToplevel-Options .dashicons-before img{
    width: 30px !important;
    margin-right: 2px !important;
    padding: 2px 0 0 !important;
    top: 6px;
    position: relative;
}

@media screen and ( max-width: 960px ){

    .wpplugin-form-section-fields-wrapper{
        flex-direction: column;
    }

    .wpplugin-form-section-fields-indiv-wrapper input {
        width:40vw;
    }

}




/*    
END STYLING FOR THE LOGIN OR REGISTER FORM FOR USERS ON THE FRONT-END
*/

/*    
BEGIN STYLING FOR THE DASHBOARD FOR LOGGED-IN USERS ON THE FRONT-END
*/
#wpplugin-form-section-wrapper-forms-and-tabs-container{
	display: flex;
	position: relative;
    right: 60px;
}

#wpplugin-form-section-wrapper-lefthand-tabs-container{
	margin-right: 30px;
}

.wpplugin-form-section-wrapper-lefthand-tabs-actual{
	padding: 20px;
    cursor: pointer;
    border: solid 1px black;
    margin-bottom: 10px;
    text-align: center;
}

.wpplugin-form-section-fields-indiv-wrapper-actualinput{
	display: none;
}

.wpplugin-form-section-fields-indiv-wrapper-justtext label{
	margin-bottom: 0px;
}

.wpplugin-form-section-fields-label-actualvalue{
	font-size:0.8em;
}

.wpplugin-form-section-wrapper-saved-posts{
	display: none;
}

.wpplugin-form-section-wrapper-lefthand-tabs-actual-active{
	color: #fff;
    background-color: #000;
}

/*    
END STYLING FOR THE DASHBOARD FOR LOGGED-IN USERS ON THE FRONT-END
*/


.wpplugin-save-post-button-div{
	cursor: pointer;
}

.wpplugin-save-post-button-div:hover{
	opacity: 0.7;
}

.wpplugin-save-post-button-div p, .wpplugin-save-post-button-div img{
	pointer-events: none;
	display: inline-block;
	vertical-align: middle;
}

.wpplugin-save-post-button-div p{
	font-size: 15px;
}

.wpplugin-save-post-button-div img{
	width:30px;
}

.wpplugin-save-post-button-top-container, .entry-title{
	display: inline-block;
}